{
    "presets": [
        "es2015",
        "es2017"
    ],
    "plugins": [
        "transform-object-rest-spread",
        "transform-runtime",
        "transform-decorators-legacy",
        "transform-class-properties",
        ["babel-plugin-transform-builtin-extend", {
            "globals": ["Error", "Array"]
        }]
    ]
}

